$white: #FFFFFF;
$black: #000000;
$dark: #333333;
$blue: #3B5998;
$green: #4CAF50;
$lightgreen: #E8F5E9;
/* $green: #69B628; */
$yellow: #F1C40F;
$lightyellow: lighten($yellow, 8%);
$lightgray: #EEEEEE;
