@import "bootstrap", "colors";
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  input, textarea {
    -webkit-touch-callout: auto;
    -webkit-user-select: auto;
  }
}

/* COLORS */
$navbar-bg: $white;
$facebook-bg: $blue;

/* FONTS */
$font-header: 'Ubuntu', sans-serif;

html {
  // http://gregrickaby.com/using-the-golden-ratio-and-rems/
  font-size: 62.5%;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: $font-header;
}

.liquid-container {
  margin-top: 70px;
}

.alert-link {
  margin: 0 auto;
  display: block;
  width: 220px;
  text-align: center;
}

.modal {
  position: relative;
  margin: 45% auto;
  width: 80%;
  padding: 2rem 1rem;
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 1rem 1.5rem 2rem;
  }
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

/* BUTTONS */
.btn-facebook {
  background: $facebook-bg;
  color: $white;
  border: none;
  &:hover{
    color: $white;
  }
}

.btn-success {
  background: $green;
  border: none;
  &:hover {
    background-color: darken($green, 3%);
  }
}

.fa-coffee {
  font-size: 26px;
  color: $yellow;
}


/* NAVBAR */
.navbar {
  background: $navbar-bg;
}

.navbar-brand {
  font-size: 22px;
  font-weight: bold;
  font-family: $font-header;
}

/* GROUP */
.group {
  text-align: center;
  background: $white;
  &:hover {
    opacity: 0.8;
  }
}

.group-logo {
  width: 100%;
}

.group-name {
  position: relative;
  font-size: 2em;
  font-family: $font-header;
}
