@import "bootstrap", "colors";
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  input, textarea {
    -webkit-touch-callout: auto;
    -webkit-user-select: auto;
  }
}

/* COLORS */
$navbar-bg: $white;
$facebook-bg: $blue;

/* FONTS */
$font-header: 'Ubuntu', sans-serif;
$font-body: 'Lato', sans-serif;

html {
  // http://gregrickaby.com/using-the-golden-ratio-and-rems/
  font-size: 62.5%;
}

body {
  font-family: $font-body;
  font-size: 18px;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  font-family: $font-body;
  font-weight: 300;
}

noscript {
  width: 800px;
  height: 600px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  color: #C71F40;
  p, ul {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  ul {
    list-style: disc inside;
  }
}

.txt-align-center {
  text-align: center;
}

.txt-align-left {
  text-align: left;
}

.capitalize {
  text-transform: capitalize;
}

.main {
  margin-top: 0;
}

body.style-login > div > .main, body.style-index > div > .main{
  margin-top: 50px;
}

body.style-index, body.style-login{
  margin-top: -50px;
  div {
    nav {
      display: none!important;
    }
    nav.navbar {
      border: none;
      opacity: 0.8;
    }
  }
}

.alert-link {
  margin: 0 auto;
  display: block;
  width: 270px;
  text-align: center;
}

.vis-hid {
  visibility: hidden;
}

.js-subscribe-success {
  margin-top: 12px;
}

.modal {
  position: relative;
  margin: 45% auto;
  width: 80%;
  padding: 2rem 1rem;
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 1rem 1.5rem 2rem;
  }
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

/* BUTTONS */
.btn {
  border-radius: 3px;
  &:active, &:focus {
    box-shadow: none;
  }
}

.btn.active {
  box-shadow: none;
}

.btn-primary {
  border: none;
}

.btn-facebook {
  background: $facebook-bg;
  color: $white;
  &:hover{
    color: $white;
  }
}

.btn-success {
  background: $green;
  border: none;
  &:hover {
    background-color: darken($green, 3%);
  }
}

.btn-xlg {
  padding: 18px 28px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* NAVBAR */
.navbar {
  background: $navbar-bg;
}

.navbar-brand {
  color: $dark!important;
  font-size: 22px;
  font-weight: bold;
  font-family: $font-body;
}

.navbar-brand > img {
  display: inline;
}

.navbar-menu {
  @extend .navbar-brand;
  margin-right:-25px;
}

.navbar-header {
  width: 100%;
}

.navbar-timer {
  @extend .bg-danger;
  margin-top: -22px;
  padding: 15px;
  background-color: $white;
}

.logo {
  margin-top: -3px;
  display: inline;
  height: 30px;
}

.logo-small {
  color: $dark!important;
  font-size: 22px;
  font-weight: 900;
  letter-spacing: -0.2px;
  font-family: $font-body;
  float: none!important;
  margin-top: 15px;
  &:hover, &:focus {
    text-decoration: none;
  }
}

.logo-large {
  margin-left: -25px!important;
}

a.logo-large {
  font-weight: 900;
  letter-spacing: -0.2px;
}

/* GROUPS */
.group {
  margin-top: 20px;
  text-align: center;
  background: $white;
  &:hover {
    opacity: 0.8;
  }
}

.group-logo {
  width: 100%;
}

a.group-name {
  color: $black;
  position: relative;
  font-size: 1em;
  font-family: $font-body;
  &:hover, a:focus {
    text-decoration: none;
  }
}

.friend > .select-friend {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.friend:hover > .select-friend{
  display: block;
}

/* RESTAURANT */
.restaurant {
  margin-bottom: 50px;
  text-align: center;
  background: $white;
  &:hover {
    opacity: 0.8;
  }
}

.restaurant-logo {
  width: 100%;
}

a.restaurant-name {
  color: $black;
  position: relative;
  font-size: 1em;
  font-family: $font-body;
  cursor: pointer;
  word-break: break-all;
  &:hover, a:focus {
    text-decoration: none;
  }
}

.user-logo-summary {
  width: 45px;
}

.group-logo-summary {
  width: 45px;
}

.restaurant-logo-summary {
  width: 45px;
}

/* DELIVERY */
.group-order {
  height: 100px;
  margin-bottom: 70px;
  img {
    height: 100%;
position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  p {
    text-align: center;
  }
  button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.who-order-arrow > p {
  text-align: center;
  font-size: 22px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
}

/* LOGIN */
.login-form {
  padding: 30px;
  background-color: #FFFFFF;
  height: 50vh;
  min-height: 300px!important;
}

/* LISTS */
.ul-inline-block li {
  display: inline-block;
  margin: 5px;
  &:first-child {
    margin-left: 0;
  }
}

ul.friends-list {
  padding-left: 0;
}

.friend-name {
  display: table;
  background-color: $lightgray;
  padding: 4px 6px;
  border-radius: 5px;
  line-height: 30px;
  margin: 8px 0;
  cursor: pointer;
  &:hover {
/*     background-color: darken($lightgray, 3%); */
  }
}

ul.order-list {
  padding-left: 0;
}

.order-name > span {
  @extend .friend-name;
  display: inline-block;
}

.menu-item {
  padding-top: 5px;
  padding-bottom: 5px;
}

button.selected-friend {
  @extend .btn-success;
  &:hover {
    border: none;
  }
}

.item-quantity {
  display: none;
}

button.selected-friend + .item-quantity {
/*   float: left; */
  display: inline;
}

/* .item-price {
  display: none;
}

button.selected-friend + .item-price {
  float: right;
  display: inline;
} */

/* .selected-friend {
  background-color: $green;
} */

li.no-style {
  list-style-type: none;
}

/* DROPDOWN */
.dropdown-menu {
  font-size: 18px;
  border-radius: 2px;
}

.dropdown > a {
  color: $dark;
}

.dropdown-menu > li > a {
  padding: 10px 20px;
}

/* FORMS */
.form-control {
  box-shadow: none;
  font-size: 18px;
  height: 43px;
  border-radius: 4px;
}

.input-lg {
  height: 45px;
}

.input-primary-lg {
  @extend .input-lg;
  border: none;
}

.input-xlg {
  padding-left: 20px;
  height: 63px;
}

/* COLUMNS */
.col-centered {
  text-align: center;
  float: none;
  margin: 0 auto;
}

.col-centered-login {
  text-align: center;
  float: none;
  margin: 0 auto;
  margin-top: 30vh;
}

.col-centered-navbar{
  text-align: center;
  float: none;
  margin: 0 auto;
  margin-top: 8px;
}

/* LANDING */
.section {
  padding: 5em 1em;
}

.section-accent {
  color: $gray;
  background-color: $lightgreen;
}

.section-header {
  color: $white;
  h1 {
    color: $white;
    font-size: 3.5em;
    font-weight: 300;
  }
}

.section-header {
  background-image:url('/assets/images/front_blur.jpg');
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
}

h1.logo-text {
  font-size: 2.3em;
  font-weight: 900;
  letter-spacing: -1px;
}

/* FOOTER */
footer {
  color: $white;
  background-color: $gray;
}

footer .footer-below {
  padding: 25px 25px;
}

.seen-in {
  img {
    height: 100px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
  }
  .fa {
    color: $lightgray;
    font-size: 120px;
    padding: 50px;
  }
}

address > a {
  color: $white;
  &:hover {
    color: $lightgray;
  }
}

.fb-like > span {
  height: 25px!important;
}

.sharing {
  color: $white;
  margin-right: 5px;
  margin-left: 5px;
  &:hover {
    color: $lightgray;
    text-decoration: none;
  }
}
