<form {{action "createRoom" on="submit"}}>
  {{ input name="name" value=name classNames='form-control' placeholder="Name of the group" }}
  <p>Invite Friends</p>
  <ul class="friends-list">
    {{#each content.friends}}
      {{#view 'friend-select' friendBinding="this"}}
        {{ name }}
      {{/view}}
    {{/each}}
  </ul>
  <button class="btn btn-default" type="submit">Create Group</button>
</form>
