<form {{action "createRoom" on="submit"}}>
  {{ input name='name' classNames='form-control' value=name placeholder='Name of the group' }}
  <button class="btn btn-default" type="submit">Create Group</button>
</form>
