<h2 class="capitalize">{{#if name }} {{ name }} {{ else }} Untitled {{/if}}</h2>

<div class="row">
  <div class="col-md-12">
    {{#link-to 'group/new-restaurant' id classNames='btn btn-lg btn-success'}}
      Add restaurant
    {{/link-to}}
    {{#link-to '' classNames='btn btn-lg btn-success'}}
      Invite
    {{/link-to}}
    {{#link-to '' classNames='btn btn-lg btn-default'}}
      Edit
    {{/link-to}}
    {{#link-to '' classNames='btn btn-lg btn-default'}}
      Remove
    {{/link-to}}
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>


<br>

<div class="row">
  <div class="col-md-12">
    {{#link-to '' classNames='btn btn-lg btn-success'}}
      All
    {{/link-to}}
    {{#link-to '' classNames='btn btn-lg btn-success'}}
      Discover
    {{/link-to}}
    {{#link-to '' classNames='btn btn-lg btn-success'}}
      Favourites
    {{/link-to}}
    {{#link-to '' classNames='btn btn-lg btn-success'}}
      Members
    {{/link-to}}
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-2 col-sm-3 col-xs-6 restaurant">
    {{#link-to '' restaurant classNames='restaurant-name'}}
      <img src="/assets/images/a.svg" class="restaurant-logo img-circle">
      Restaurant
    {{/link-to}}
  </div>
  <div class="col-md-2 col-sm-3 col-xs-6 restaurant">
    {{#link-to '' restaurant classNames='restaurant-name'}}
      <img src="/assets/images/a.svg" class="restaurant-logo img-circle">
      Restaurant
    {{/link-to}}
  </div>
  <div class="col-md-2 col-sm-3 col-xs-6 restaurant">
    {{#link-to '' restaurant classNames='restaurant-name'}}
      <img src="/assets/images/a.svg" class="restaurant-logo img-circle">
      Restaurant
    {{/link-to}}
  </div>

{{!--   {{#each restaurant in content.restaurants }}
  <div class="col-md-2 col-sm-3 col-xs-6 restaurant">
    {{#link-to 'group/restaurants' restaurant classNames='restaurant-name'}}
      <img src="/assets/images/a.svg" class="restaurant-logo img-circle">
      {{ restaurant.name }}
    {{/link-to}}
  </div>
  {{ else }}
    <p>You have no restaurants added :(</p>
    <p>Create one!</p>
  {{/each}} --}}

</div>
