<div class="row">
  <div class="col-md-12">
    {{#view 'timer-tick'}}
      Timer: {{ content.timer }}
    {{/view}}
  </div>
</div>

<br>

{{#each item in content.items}}
  <div class="row">
    <div class="col-md-12">
      <h3>{{ item.user.name }}</h3>
      <ul class="order-list">
      {{#each order in item.items}}
        <li class="order-name no-style">{{order.name}}</li>
      {{/each}}
      </ul>
    </div>
  </div>
{{/each}}
