<nav class="navbar navbar-default navbar-timer">
  <div class="row timer-navbar">
    <div class="col-md-12">
      <div class="container">
        {{#view 'timer-tick'}}
          <h2>Timer {{ content.timer }}</h2>
        {{/view}}
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Summary</h2>

    </div>
  </div>
  <br>
  {{#each item in content.items}}
    <div class="row">
      <div class="col-md-12">
        <h3>{{ item.user.name }}</h3>
        <ul class="order-list">
        {{#each order in item.items}}
          <li class="order-name no-style">{{order.name}}</li>
        {{/each}}
        </ul>
      </div>
    </div>
  {{/each}}
</div>
