<div class="row">
  <div class="col-xs-8">

    <h2>Set timer</h2>

    <div class="row">
      <div class="col-md-12">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default btn-lg active">5</button>
          <button type="button" class="btn btn-default btn-lg">10</button>
          <button type="button" class="btn btn-default btn-lg">15</button>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-12">
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-lg">Current location</button>
          <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a>Home</a></li>
            <li><a>Office</a></li>
            <li><a>Joe's place</a></li>
          </ul>
        </div>
      </div>
    </div>

    <br>

    <button class="btn btn-success btn-lg" {{ action "setOrder" }} >Start!</button>

  </div>
  <div class="col-xs-4">
    <h2>McDonalds</h2>
    <img src="/assets/images/a.svg" class="restaurant-logo img-rounded">
  </div>

</div>

