<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
    {{#link-to 'index' classNames='navbar-brand back-button visible-sm visible-xs'}}
      {{ fa-icon "chevron-left" }}
    {{/link-to}}
    {{#link-to 'index' classNames='navbar-brand'}}
      <img src="/assets/images/logo.svg" class="logo">
      let's order
    {{/link-to}}
    <div class="dropdown pull-right navbar-brand">
      <a id="dLabel" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
        {{ fa-icon "bars" }}
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li>
          {{#link-to '' classNames=''}}
            Invite
          {{/link-to}}
          </li>
          <li>
          {{#link-to '' classNames=''}}
            Settings
          {{/link-to}}
          </li>
          <li>
            <a {{ action 'invalidateSession' }} class="">Logout </a>
          </li>
      </ul>
    </div>
    </div>
  </div>
</nav>
