<nav class="navbar navbar-default navbar-fixed-top hidden-sm hidden-xs">
  <div class="container">
    <div class="navbar-header">
      {{#link-to 'index' classNames='navbar-brand'}}
        {{ fa-icon "coffee" }}  let's order
      {{/link-to}}
    </div>
  </div>
  <div class="navbar-collapse navbar-ex5-collapse">
    {{outlet header}}
  </div>
</nav>
<nav class="navbar navbar-default navbar-fixed-top visible-sm visible-xs">
  <div class="container">
      {{#link-to 'index' classNames='navbar-brand'}}
        {{ fa-icon "chevron-left" }}
      {{/link-to}}
      <div class="pull-right">
        {{#link-to 'index' classNames='navbar-brand'}}
          {{ fa-icon "bars" }}
        {{/link-to}}
      </div>
  </div>
</nav>

