<div class="overlay hidden" {{ action "close" }}>
  <div class="modal">
    <div class="close" {{ action "close" }}>X</div>
    <div {{ action bubbles=false }}>
      <div class="row">
       <div class="col-md-12">
        {{ outlet modalcontent }}
       </div>
      </div>
    </div>
  </div>
</div>
