<div class="row">
  <div class="col-md-12">
    Set timer
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default">5</button>
      <button type="button" class="btn btn-default">10</button>
      <button type="button" class="btn btn-default">15</button>
    </div>
    Current location select
    <button class="btn btn-danger btn-lg" type="submit">Start!</button>
  </div>
</div>
