<div class="row">
  <div class="col-md-12">
    {{#link-to 'group/new' classNames='btn btn-lg btn-success'}}
      Create group
    {{/link-to}}
  </div>
</div>

<br>

<div class="row">
  {{#each group in content.groups }}
  <div class="col-md-2 col-sm-3 col-xs-6 group">
    {{#link-to 'group/restaurants' group classNames='group-name capitalize'}}
      <img src="/assets/images/a.svg" class="group-logo img-circle">
      {{ group.name }}
    {{/link-to}}
  </div>
  {{ else }}
    <p>you have no groups dude : (</p>
    <p>create one!</p>
  {{/each}}
</div>
