<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 section section-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-centered">
          <img src="/assets/images/logo.svg" class="logo-icon">
          <h1 class="logo-text">let's order</h1>
          <br>
          <h1>We make ordering together easy</h1>
          <br>
          <br>
          <div class="row">
            <div class="col-xs-10 col-sm-8 col-md-6 col-lg-5 col-centered">
              <p class="">Be one of the first to know when our app is released. Please enter your email below.</p>
              <div class="input-group">
                <input type="text" class="form-control input-xlg" placeholder="Email Address">
                <span class="input-group-btn">
                  <button class="btn btn-success btn-xlg" type="button">Sign up</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 section section-accent">

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-centered">
          <h3>Let's order is building a tool to make group food ordering as simple as ordering on your own. No more </h3>
          <div class="seen-in">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-centered">
          <h2>As seen in</h2>
          <div class="seen-in">
            <img src="/assets/images/sw.svg" class="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <footer>
      <div class="footer-below">
          <div class="container">
              <div class="row">
                  <div class="col-xs-12 text-center">
                    <br>
                    <address>
                      <a href="mailto:#">contact@letsorder.me</a>
                    </address>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-12 text-center">
                    <p>Copyright &copy; Let's order 2014<p>
                  </div>
              </div>
          </div>
      </div>
  </footer>
</div>
