<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 section section-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-centered">
          <img src="/assets/images/logo.svg" class="logo-icon">
          <h1 class="logo-text">let's order</h1>
          <br>
          <h1>We make ordering together easy</h1>
          <br>
          <br>
          <div class="row">
            <div class="col-xs-10 col-sm-8 col-md-8 col-lg-5 col-centered">
              <p class="">Be one of the first to know when our app is released. Please enter your email below.</p>
              <form {{ action "subscribeEmail" on="submit" }} class="form-inline" role="form">
                <div class="form-group">
                  {{ input type="email" name="email" value=controller.email classNames='form-control input-lg' placeholder="Email Address" }}
                </div>
                <button type="submit" class="btn btn-success btn-lg">Sign up</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 section section-accent">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p class="lead"><strong>Let's order</strong> is group ordering for you and your friends or colleagues, streamlining the order for the restaurant and cutting wait times for customers hungry for their delivery.</p>
          <div class="seen-in">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-centered">
          <h2>As seen in</h2>
          <div class="seen-in">
            <a href="http://blog.up.co/2014/12/18/copy-pasting-sw-dubai-2014s-winners-come-innovative-solutions-dubai-problems/" title="Startup Weekend Dubai" target="_blank">
              <img src="/assets/images/sw.svg" class="">
            </a>
            <a href="http://www.youtube.com/watch?v=ONwRydZ51cw&t=6m29s" title="Startup Weekend Dubai" target="_blank">
              <img src="/assets/images/skynewsarabia_grayscale.png" class="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <footer>
      <div class="footer-below">
          <div class="container">
              <div class="row">
                  <div class="col-xs-12 text-center">
                    <br>
                    <address>
                      <a href="mailto:contact@letsorder.me">contact@letsorder.me</a>
                    </address>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-12 text-center">
                    <p>Copyright &copy; Let's order 2014<p>
                  </div>
              </div>
          </div>
      </div>
  </footer>
</div>
