<div class="row">
  <div class="col-md-12 col-centered">
    {{#if session.isAuthenticated}}
      <button {{ action 'invalidateSession' }} class="btn btn-full btn-xlg btn-danger">Logout</button>
    {{else}}
        <a {{ action 'authenticateWithFacebook' }} class="alert-link btn btn-xlg btn-facebook">{{ fa-icon "facebook-square" }}  Login with Facebook </a>
    {{/if}}
  </div>
</div>
